*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
h1{
    font-weight: 900;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(153, 0, 255);
    color: #fff;
}
nav{
    background-color: rgb(61, 102, 156);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: #fff;
}
#Home{
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: rgba(4, 104, 108, 0.321);
}
#About{
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: rgba(4, 104, 108, 0.321);
}
img{
    height: 300px;
    width:  400px;
    margin: 10px 0 10px 0;
}
#Contacts{
    background-color: #111;
    color: #fff;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    background-color: rgb(69, 191, 196);
    color: blue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}